$space: 2rem;
$primary-color: #0288d1;
$secondary-color: #050511;
$tertiary-color: #cacaca;
$general-font-size: 1.1rem;
$hover-background-color: rgb(245, 245, 245);
$background-color: #eeeeee;
$white: #ffffff;

// Icons variables

$icon-text-spacing: 5px;
$icon-size: 1.3rem;

// Font size

$heading-1: 1.4rem;
$weight-1: 800;
$heading-2: 1.2rem;
$weight-2: 600;
$heading-3: 0.9rem;
$weight-3: 100;

// Button sizing

$button-padding: 10px 20px;

// Border radius

$border-radius: 3px;

// Box Shadow

$box-shadow: 0px 0px 3px 0px rgba(223, 223, 223, 0.67);

// Border

$border: 1px solid rgba(233, 233, 233, 0.67);
