.registrationHeader {
	padding: 0 4rem;
	display: flex;
	width: inherit;
	justify-content: space-between;
	align-items: center;

	&__bacBtn {
	}

	&__btnGroup {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.btnGroup__select {
			display: flex;
			margin-right: 15rem;

			.select__text {
				margin-right: 20px;
			}
		}
	}
}

@media print {
	.registrationHeader {
		visibility: hidden;
	}
}
